body {
  margin: 0;
}
.container {
  width: 1920px;
  /* border: 1px solid black; */
  margin: 0 auto;
  background-color: #ffffff;
}
header {
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  /* border: 1px solid black; */
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
}
.headTitle {
  display: flex;
  justify-content: center;
  height: 175px;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #424242;
  /* border: 1px solid black; */
}
.bouquet-menu {
  display: flex;
  justify-content: center;
  height: 351px;
  /* border: 1px solid black; */
}
.bouquet-cell {
  width: 200px;
  text-align: center;
  /* border: 1px solid black; */
}
.bouquet-cell-head {
  color: #212121;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.bouquet-cell-body {
  color: #424242;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  box-sizing: border-box;
}
.quote {
  display: flex;
  justify-content: center;
  height: 283px;
  width: 1137.5px;
  align-items: center;
  background-color: #ffb5b5;
  margin: auto;
}
.in-quote {
  display: flex;
  justify-content: center;
  height: 281px;
  width: 1137.5px;
  align-items: center;
  background-color: #ffffff;
  flex-wrap: wrap;
}
.text-quote {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  color: #f96da6;
}
.author-quote {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #f96da6;
}

.poem-flowers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 442px;
  /* border: 1px solid black; */
}
.poem {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #424242;
  display: table-cell;
  vertical-align: middle;
  margin-right: 40px;
  /* border: 1px solid black; */
}
.flowers {
  margin-left: 260px;

  /* border: 1px solid black; */
}

footer {
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  background-color: #ffb5b5;
  margin: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}
